footer .bottom{
  height: fit-content;
  min-height: 3em;
  position: relative;
  background: rgb(185,0,95);
  background: linear-gradient(95deg, rgba(185,0,95,1) 0%, rgba(227,0,89,1) 70%);

  margin-top: 3em;
  padding: 3em var(--body-padding) calc(3em + 3em) var(--body-padding);
  display: flex;
  flex-direction: column;

}

.footer .bottom::before {
  content: "";
  height: 3em;
  width: 100%;
  background: rgb(185,0,95);
  background: linear-gradient(95deg, rgba(185,0,95,1) 0%, rgba(227,0,89,0) 100%);
  position: absolute;
  left: 0;
  top: -3em;
}

footer .balk{
    width: 100%;
    height: 2em;
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
}

footer .balk-width{
    background-color: #FFFFFF;
    width: 50rem;
    height: 100%;
    display: block;
}

footer .footer-curve-background {
    fill: #FFFFFF;
}

footer .sub-footer{
    padding: 1.5em var(--body-padding) 1.5em var(--body-padding);

}

