body > header {
  display: flex;
  flex-direction: column;
  position: relative;
}

body > header .logo-container {
  padding: 0.5rem var(--body-padding);
  background-color: #fff;
  z-index: 3;
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
  position: relative;
  border-bottom: 0.5rem solid var(--primary-color);
}

body > header .logo {
  width: 100%;
  max-width: 193px;
  padding: 0.5rem;
}

body > header .menu {
  border: none;
  background-color: var(--primary-color);
  color: #fff;
  width: fit-content;
  height: fit-content;
  padding: 0.8rem;
  border-radius: 6px;
  cursor: pointer;
}

body > header .nav-js-style {
  position: absolute;
  bottom: 0;
  width: 100%;
  transition: all 0.3s ease-in-out;
  background-color: var(--primary-color);
}

body > header .nav-active {
  transform: translate(0, 100%);
}

body > header .nav-container {
  z-index: 2;
  width: 100%;
}

body > header nav {
  position: relative;
  background-color: white;
  height: 100%;
}

body > header nav .menu__menu-item {
  padding: 0.5rem 1rem;
  height: fit-content;
  width: fit-content;
  white-space: nowrap;
}

body > header .nav-design {
  margin: 1rem var(--body-padding);
  border-radius: 6px;
}

body > header ul {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.5rem 0;
  margin: 0 var(--body-padding);
}

.ul-js {
  margin: 0;
}

body > header ul li {
  list-style-type: none;
}

body > header ul li a {
  text-decoration: none;
  color: black;
  width: 100%;
  padding: 0.5rem 1rem;
  display: flex;
  gap: 0.5rem;
}

.menu__menu-item {
  width: 100%;
  height: 100%;
}

body > header ul li a:is(:hover, :focus) {
  color: var(--primary-color);
}

body > header ul li button {
  border: none;
  background: none;
  cursor: pointer;
  font-size: 16px;
  padding: 0.5rem 1rem;
  width: 100%;
  text-align: left;
  font-family: Regular, san-serif;
}

@media screen and (min-width: 450px) {
  body > header nav ul {
    flex-direction: row;
    justify-content: space-between;
    padding: 0.3rem 0;
  }
}

@media screen and (min-width: 770px) {
  body > header {
    flex-direction: row;
    border-bottom: 0.5rem solid var(--primary-color);
  }

  body > header .logo-container {
    padding: 0.5rem 1rem 0.5rem var(--body-padding);
    border: none;
  }

  body > header .logo {
    max-width: none;
  }

  body > header .menu {
    display: none;
  }

  body > header .nav-container {
    position: relative;
    transform: translate(0);
  }

  body > header nav {
    margin: 0;
    border-radius: 0;
    padding: 0.3rem 1rem 0.3rem 1rem;
    padding-right: var(--body-padding);
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  body > header .nav-design {
    margin: 0;
    border-radius: 0;
  }

  body > header nav ul {
    justify-content: flex-end;
    padding: 0;
    margin: 0;
  }

  body > header nav ul li {
    padding: 0;
  }
}
