.page {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-flow: column nowrap;
}

.page__header {
  flex: 0;
}

.page__content {
  flex: 1;
}

.page__header,
.page__content {
  padding: 1rem var(--body-padding);
}

