.hero {
  height: 50vh;
  height: 50svh;
  max-height: 40em;
  min-height: 25em;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("/image/start-header/large/header4-tiny.jpg");
  background-image: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.9137780112044818) 0%,
      rgba(0, 0, 0, 0.7569152661064426) 15%,
      rgba(0, 0, 0, 0) 47%
    ),
    url("/image/start-header/large/header4-tiny.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  padding: 0 var(--body-padding);
}
.map {
  width: 100%;
  max-width: 30em;
  aspect-ratio: 4/2;
  background-color: #41decef5;
  position: relative;
  margin-top: 3em;
  padding: 1em 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 0 10px 10px 10px;
}

.map h1 {
  color: white;
}


.map .upper-curve {
  position: absolute;
  height: 2em;
  left: 0;
  top: -2em;
  display: flex;
  width: 100%;
}

.map .balk {
  width: calc(50% - 3em);
  height: inherit;
  background-color: #41decef5;
  display: block;
  border-radius: 10px 0 0 0;
}

.header-map-curve {
  fill: #41decef5;
}

.start-content {
  padding: 4em var(--body-padding);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 1em;
}

.content-container {
  padding: 1em;
  border: var(--container-border);
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1em;
  border-radius: 5px;

}

.content-container img{
  height: auto;
  border-radius: 5px;
  object-fit: cover;
}

.content-container:nth-child(1) {
  grid-column-start: 1;
  grid-column-end: 7;
  grid-row-start: 1;
  grid-row-end: 2;
}

.content-container:nth-child(2) {
  grid-column-start: 1;
  grid-column-end: 7;
  grid-row-start: 2;
  grid-row-end: 3;
}

.content-container:nth-child(3) {
  grid-column-start: 1;
  grid-column-end: 7;
  grid-row-start: 3;
  grid-row-end: 4;
}

.start {
  overflow: auto;
}

/* .start > .page {
  scroll-snap-align: start;
} */

.page.check-in {
  min-height: unset;
  background: #87ceeb;
  background: linear-gradient(
    0deg,
    rgba(135, 206, 235, 1) 81%,
    rgba(135, 206, 235, 0) 100%
  );

  /* border-bottom: 5rem solid #2a2922; */
  overflow-x: hidden;
}

.page.check-in .page__header {
  padding-top: 1rem;
}

.page.check-in .page__header h2 {
  font-size: 4rem;
}

.page.check-in .page__content {
  margin-top: 20rem;
  position: relative;
  border-bottom: 5rem solid #2a2922;
  padding-bottom: 0;
  /* min-height: 550px; */
  flex: unset;
}

#departure-time {
  font-weight: bold;
  color: var(--primary-color);
}

.sub {
  --display: none;
  display: var(--display);
}

.sub p {
  padding-bottom: 1rem;
}

.bus {
  position: relative;
  min-width: 100rem;
  height: auto;
  bottom: 0;
  left: 0;
  transform: translate(calc(-100% - (var(--body-padding) * 2)), 1rem);
}

.bus--in-service {
  transform: translate(calc((-100% + 100vw) - (var(--body-padding) * 2)), 1rem);
}

.check-in-device {
  width: 20rem;
  position: absolute;
  right: 50%;
  transform: translateX(50%);
  top: -22rem;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
}

/* .check-in-device--loading {
} */

.check-in-device .check-in-st0 {
  transition: fill 0.2s ease-in-out;
}

.check-in-device--error .check-in-st0 {
  fill: var(--error-color);
}

.check-in-device--success .check-in-st0 {
  fill: var(--success-color);
}

.move-in {
  animation: move-in 1.5s ease forwards;
}
.move-in #wiel_links > g,
.move-in #wiel_rechts > g {
  animation: rotate-in 1.5s ease forwards;
  transform-box: fill-box;
  transform-origin: center;
}

.move-out {
  animation: move-out 1.5s ease forwards;
}
.move-out #wiel_links > g,
.move-out #wiel_rechts > g {
  animation: rotate-out 1.5s ease forwards;
  transform-box: fill-box;
  transform-origin: center;
}

@keyframes move-in {
  0% {
    transform: translate(calc(-100% - (var(--body-padding) * 2)), 1rem);
  }
  80% {
    transform: translate(
      calc((-100% + 100vw) - (var(--body-padding) * 2) + 1rem),
      1rem
    );
  }
  100% {
    transform: translate(
      calc((-100% + 100vw) - (var(--body-padding) * 2)),
      1rem
    );
  }
}

@keyframes move-out {
  0% {
    transform: translate(
      calc((-100% + 100vw) - (var(--body-padding) * 2)),
      1rem
    );
  }

  20% {
    transform: translate(
      calc((-100% + 100vw) - (var(--body-padding) * 2) - 1rem),
      1rem
    );
  }

  100% {
    transform: translate(
      calc((100% + 100vw) - (var(--body-padding) * 2)),
      1rem
    );
  }
}

@keyframes rotate-in {
  0% {
    transform: rotate(0);
  }
  80% {
    transform: rotate(365deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotate-out {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes jump {
  0% {
    transform: translateY(0rem);
  }
  50% {
    transform: translateY(-1rem);
  }
  100% {
    transform: translateY(0rem);
  }
}

[id^="passagier_"] {
  --display: none;
  --skin-color: lightgrey;
  --body-color: grey;

  display: var(--display);
}

[id^="passagier_"].passagier--jump {
  animation: jump 0.1s ease-in-out forwards;
}

[id^="passagier_"] .bus-st15,
[id^="passagier_"] .bus-st18 {
  fill: var(--skin-color);
}
[id^="passagier_"] .bus-st4 {
  fill: var(--body-color);
}

@media (min-width: 36rem) {
  .map {
    padding: 1em 2em;
  }
}

@media (min-width: 36rem) {
  .start {
    overflow: auto;
    scroll-snap-type: y mandatory;
  }

  .start > .page {
    scroll-snap-align: start;
  }

  .page.check-in .page__content {
    margin-top: 0;
  }

  .check-in {
    height: auto;
  }

  .sub {
    width: 14rem;
  }

  .check-in-device {
    right: var(--body-padding);
    top: -18rem;
    transform: unset;
  }
}

@media (min-width: 48rem) {
  .page.check-in .page__header {
    padding-top: 10rem;
  }

  .sub {
    width: 26rem;
  }
  .check-in-device {
    top: -22rem;
  }

  .content-container:nth-child(1) {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  
  .content-container:nth-child(2) {
    grid-column-start: 4;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  
  .content-container:nth-child(3) {
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 2;
    grid-row-end: 3;
    flex-direction: row;
  }
  .content-container:nth-child(3) img{
    width: calc(50% - .5em);
    object-fit: cover;
  }
}

@media (min-width: 62rem) {
  .sub {
    width: 40rem;
  }

  .content-container:nth-child(1) {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  
  .content-container:nth-child(2) {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  
  .content-container:nth-child(3) {
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 2;
    flex-direction: column;
  }

  .content-container:nth-child(3) img{
    width: 100%;

  }
}
