<section class="page hero">
  <div class="map">
    <div class="upper-curve">
      <div class="balk"></div>
      <svg version="1.1" x="0px" y="0px" viewBox="0 0 100 50" xml:space="preserve">
        <path class="header-map-curve" d="M0,0v50h100C50,50,50,0,0,0z" />
      </svg>
    </div>
    <h1>Maak het web <br><span>Toegankelijk</span></h1>
  </div>
</section>

<section class="page start-content"></section>

<%- include("../partials/check-in.ejs") %>