<section class="page hero">
  <div class="map">
    <div class="upper-curve">
      <div class="balk"></div>
      <svg version="1.1" x="0px" y="0px" viewBox="0 0 100 50" xml:space="preserve">
        <path class="header-map-curve" d="M0,0v50h100C50,50,50,0,0,0z" />
      </svg>
    </div>
    <h1>Maak het web <br><span>Toegankelijk</span></h1>
  </div>
</section>
  <section class="start-content">
    <div class="content-container">
      <img src="image/phone-users-tiny.jpg" alt="">
      <p><b>Is uw website al digitaal toegankelijk voor iedereen?</b><br>
        Dat moet al of moet binnen 2 jaar! Voor overheden is dit al verplicht. En vanaf 2025 mo et iedere nieuwe website
        en app digitaal toegankelijk zijn.</p>
    </div>
    <div class="content-container">
      <img src="image/law.jpg" alt="">
      <p><b>Wat kunt u doen om uw website toegankelijk te maken?</b><br>
        De Vervoerregio Amsterdam heeft samen met studenten van de Hogeschool van Amsterdam een checklist ontwikkeld
        waarin op eenvoudige wijze wordt uitgelegd wat hierbij komt kijken en welke stappen u kunt nemen om uw website
        en app toegankelijk te maken.</p>
    </div>
    <div class="content-container">
      <img src="image/hva.jpg" alt="">
      <p><b>Wat is de wettelijke achtergrond?</b><br>
        In Nederland zijn er ca. 2 miljoen mensen met een beperking. Als deze mensen uw website of app niet kunnen
        gebruiken, dan zorgt dat dat deze mensen worden uitgesloten van de samenleving. Medio 2025 wordt om die reden
        door
        de Europese Unie de European Accessibility Act (EAA) of Europese Toegankelijkheidswet ingevoerd. De wet zorgt
        ervoor dat digitale barrières worden verwijderd voor mensen met een beperking. De eisen zijn gebaseerd op de Web
        Content Accessibility Guidelines (WCAG) van het World Wide Web Consortium</p>
    </div>
  </section>

<%- include("../partials/new-checklist.ejs") %>
  <%- include("../partials/check-in.ejs") %>