<footer>
    <div class="footer">

        <div class="bottom">
            <div class="balk">
                <section class="balk-width"></section>
                <svg version="1.1" id="Laag_1" x="0px" y="0px" viewBox="0 0 100 50" xml:space="preserve">
                    <path class="footer-curve-background" d="M0,0v50h100C50,50,50,0,0,0z" />
                </svg>
            </div>
        </div>
    </div>
    <div class="sub-footer">
        © Copyright <span id="currentYear">2020</span>, Vervoerregio Amsterdam
    </div>
</footer>